<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MyToolkit" version="2.5.13" targetFramework="net46" />
  <package id="NConsole" version="3.0.6082.29122" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="NJsonSchema" version="4.28.6128.27588" targetFramework="net46" />
  <package id="NJsonSchema.CodeGeneration" version="4.28.6128.27589" targetFramework="net46" />
</packages>