<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NConsole" version="2.0.5992.40924" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="NJsonSchema" version="2.36.6001.31066" targetFramework="net46" />
  <package id="NJsonSchema.CodeGeneration" version="2.36.6001.31067" targetFramework="net46" />
</packages>