src/**/bin/**
src/**/obj/**
src/packages/**

**.suo
**.user
**.DotSettings

**.sln.ide/**
**.vs/**

[Bb]in/
[Oo]bj/
*.nugetreferenceswitcher
/src/.vs/config
**.lock.json
/src/NSwag.AspNetCore/Output
/src/Chocolatey/Output
/src/NSwagStudio.Installer/Generated.wxs
/src/NSwagStudio.Chocolatey/Output

/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsAngularJS.js
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsAngularJS.js.map
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryCallbacks.js
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryCallbacks.js.map
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryPromises.extensions.js
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryPromises.extensions.js.map
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryPromises.js
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryPromises.js.map
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryPromisesKO.js
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryPromisesKO.js.map
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryPromisesKO.js.map
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsAngularJS.js
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryCallbacks.js
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryPromises.extensions.js
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryPromises.js
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryPromisesKO.js
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsAngularJS.js.map
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryCallbacks.js.map
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryPromises.extensions.js.map
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryPromises.js.map
