src/**/bin/**
src/**/obj/**
src/packages/**

**.suo
**.user
**.DotSettings

**.sln.ide/**
**.vs/**
.vs/**

[Bb]in/
[Oo]bj/
*.nugetreferenceswitcher
/src/.vs/config
**/project.lock.json
/src/NSwag.AspNetCore/Output
/src/Chocolatey/Output
/src/NSwagStudio.Installer/Generated.wxs
/src/NSwagStudio.Chocolatey/Output

/src/NSwag.Integration.TypeScriptWeb/node_modules
/src/NSwag.Integration.TypeScriptWeb/scripts/build
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsAngularJS.js
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsAngularJS.js.map
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryCallbacks.js
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryCallbacks.js.map
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryPromises.extensions.js
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryPromises.extensions.js.map
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryPromises.js
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryPromises.js.map
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryPromisesKO.js
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryPromisesKO.js.map
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryPromisesKO.js.map
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsAngularJS.js
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryCallbacks.js
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryPromises.extensions.js
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryPromises.js
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryPromisesKO.js
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsAngularJS.js.map
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryCallbacks.js.map
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryPromises.extensions.js.map
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsJQueryPromises.js.map
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsFetch.js.map
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsFetch.js
/build/Packages
/src/.vs
/src/NSwag.ConsoleCore/Output
/src/NSwag.Npm/node_modules
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsUberFetch.js.map
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsUberFetch.js
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsPetStoreFetch.js
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsPetStoreFetch.js.map
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsPetStoreFetch.js
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsPetStoreFetch.js.map
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsAngular2.extensions.js.map
/src/NSwag.Integration.TypeScriptWeb/scripts/serviceClientsAngular2.extensions.js
/src/dist
build/*.nupkg
/src/NSwagStudio.Installer/Generated.wxs
NSwag.MSBuild.*.nupkg
NSwagStudio*.nupkg
/samples/.vs/config
/samples/WithoutMiddleware/Sample.AspNetCore20/.vs/Sample.AspNetCore20/v15/Server/sqlite3
/samples/WithoutMiddleware/Sample.AspNetCore20/.vs/Sample.AspNetCore20/DesignTimeBuild
/samples/.vs/*
.vscode/
/src/.cr/*
/samples/WithMiddleware/Sample.AspNetCore21.Nginx/.vs
/samples/WithMiddleware/Sample.AspNetCore21.Nginx/Properties


.editorconfig
