src/**/bin/**
src/**/obj/**
src/packages/**

**.suo
**.user
**.DotSettings

**.sln.ide/**
**.vs/**

[Bb]in/
[Oo]bj/
*.nugetreferenceswitcher
/src/.vs/config
**.lock.json
/src/NSwag.AspNetCore/Output
/src/Chocolatey/Output
