<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="es6-promise.TypeScript.DefinitelyTyped" version="0.7.7" targetFramework="net451" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.1.0" targetFramework="net451" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net451" developmentDependency="true" />
</packages>