<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="RootDirectory" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SourceComponentGroup">
            <Component Id="cmp47425D20B2F391879642B80A90278AAC" Directory="RootDirectory" Guid="*">
                <File Id="fil8C2DCF70057F8D63A2AB43A9F8CDF0BD" KeyPath="yes" Source="$(var.SourcePath)\Microsoft.ApplicationInsights.dll" />
            </Component>
            <Component Id="cmpDB0E1E99867094F8CB9FF5C59686A391" Directory="RootDirectory" Guid="*">
                <Class Id="{8142EE5C-3D26-38A1-8B9F-CE3415BCDE1E}" Context="InprocServer32" Description="NJsonSchema.CodeGeneration.TypeScript.TypeScriptTypeResolver" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="NJsonSchema.CodeGeneration.TypeScript.TypeScriptTypeResolver" Description="NJsonSchema.CodeGeneration.TypeScript.TypeScriptTypeResolver" />
                </Class>
                <Class Id="{DEF91A47-5DB8-355B-8E95-5A08B8633BC9}" Context="InprocServer32" Description="NJsonSchema.CodeGeneration.CSharp.CSharpTypeResolver" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="NJsonSchema.CodeGeneration.CSharp.CSharpTypeResolver" Description="NJsonSchema.CodeGeneration.CSharp.CSharpTypeResolver" />
                </Class>
                <File Id="fil69E69326265A56E58AABD23A6FA13906" KeyPath="yes" Source="$(var.SourcePath)\NJsonSchema.CodeGeneration.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{8142EE5C-3D26-38A1-8B9F-CE3415BCDE1E}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8142EE5C-3D26-38A1-8B9F-CE3415BCDE1E}\InprocServer32\1.7.5770.30723" Name="Class" Value="NJsonSchema.CodeGeneration.TypeScript.TypeScriptTypeResolver" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8142EE5C-3D26-38A1-8B9F-CE3415BCDE1E}\InprocServer32\1.7.5770.30723" Name="Assembly" Value="NJsonSchema.CodeGeneration, Version=1.7.5770.30723, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8142EE5C-3D26-38A1-8B9F-CE3415BCDE1E}\InprocServer32\1.7.5770.30723" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8142EE5C-3D26-38A1-8B9F-CE3415BCDE1E}\InprocServer32\1.7.5770.30723" Name="CodeBase" Value="file:///[#fil69E69326265A56E58AABD23A6FA13906]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8142EE5C-3D26-38A1-8B9F-CE3415BCDE1E}\InprocServer32" Name="Class" Value="NJsonSchema.CodeGeneration.TypeScript.TypeScriptTypeResolver" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8142EE5C-3D26-38A1-8B9F-CE3415BCDE1E}\InprocServer32" Name="Assembly" Value="NJsonSchema.CodeGeneration, Version=1.7.5770.30723, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8142EE5C-3D26-38A1-8B9F-CE3415BCDE1E}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8142EE5C-3D26-38A1-8B9F-CE3415BCDE1E}\InprocServer32" Name="CodeBase" Value="file:///[#fil69E69326265A56E58AABD23A6FA13906]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DEF91A47-5DB8-355B-8E95-5A08B8633BC9}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DEF91A47-5DB8-355B-8E95-5A08B8633BC9}\InprocServer32\1.7.5770.30723" Name="Class" Value="NJsonSchema.CodeGeneration.CSharp.CSharpTypeResolver" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DEF91A47-5DB8-355B-8E95-5A08B8633BC9}\InprocServer32\1.7.5770.30723" Name="Assembly" Value="NJsonSchema.CodeGeneration, Version=1.7.5770.30723, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DEF91A47-5DB8-355B-8E95-5A08B8633BC9}\InprocServer32\1.7.5770.30723" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DEF91A47-5DB8-355B-8E95-5A08B8633BC9}\InprocServer32\1.7.5770.30723" Name="CodeBase" Value="file:///[#fil69E69326265A56E58AABD23A6FA13906]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DEF91A47-5DB8-355B-8E95-5A08B8633BC9}\InprocServer32" Name="Class" Value="NJsonSchema.CodeGeneration.CSharp.CSharpTypeResolver" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DEF91A47-5DB8-355B-8E95-5A08B8633BC9}\InprocServer32" Name="Assembly" Value="NJsonSchema.CodeGeneration, Version=1.7.5770.30723, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DEF91A47-5DB8-355B-8E95-5A08B8633BC9}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DEF91A47-5DB8-355B-8E95-5A08B8633BC9}\InprocServer32" Name="CodeBase" Value="file:///[#fil69E69326265A56E58AABD23A6FA13906]" Type="string" Action="write" />
            </Component>
            <Component Id="cmpCFDF9B03906A160A23B423DF1D391540" Directory="RootDirectory" Guid="*">
                <Class Id="{02746009-B4EF-3FA8-86D2-46329CDF125F}" Context="InprocServer32" Description="NJsonSchema.JsonSchemaGeneratorSettings" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="NJsonSchema.JsonSchemaGeneratorSettings" Description="NJsonSchema.JsonSchemaGeneratorSettings" />
                </Class>
                <Class Id="{1CA5755F-33D5-3975-95A1-8871C05DDFDF}" Context="InprocServer32" Description="NJsonSchema.JsonProperty" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="NJsonSchema.JsonProperty" Description="NJsonSchema.JsonProperty" />
                </Class>
                <Class Id="{25C74250-B7E9-3E37-B1A7-1EAA34BF58D1}" Context="InprocServer32" Description="NJsonSchema.JsonSchema4" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="NJsonSchema.JsonSchema4" Description="NJsonSchema.JsonSchema4" />
                </Class>
                <Class Id="{E8C2F435-D734-32B8-8733-06F4A9E58974}" Context="InprocServer32" Description="NJsonSchema.SchemaResolver" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="NJsonSchema.SchemaResolver" Description="NJsonSchema.SchemaResolver" />
                </Class>
                <File Id="filE7D2BAF36BE70670FE414AAABB6765E1" KeyPath="yes" Source="$(var.SourcePath)\NJsonSchema.dll" />
                <ProgId Id="Record" />
                <RegistryValue Root="HKCR" Key="CLSID\{02746009-B4EF-3FA8-86D2-46329CDF125F}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{02746009-B4EF-3FA8-86D2-46329CDF125F}\InprocServer32\1.7.5770.30722" Name="Class" Value="NJsonSchema.JsonSchemaGeneratorSettings" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{02746009-B4EF-3FA8-86D2-46329CDF125F}\InprocServer32\1.7.5770.30722" Name="Assembly" Value="NJsonSchema, Version=1.7.5770.30722, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{02746009-B4EF-3FA8-86D2-46329CDF125F}\InprocServer32\1.7.5770.30722" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{02746009-B4EF-3FA8-86D2-46329CDF125F}\InprocServer32\1.7.5770.30722" Name="CodeBase" Value="file:///[#filE7D2BAF36BE70670FE414AAABB6765E1]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{02746009-B4EF-3FA8-86D2-46329CDF125F}\InprocServer32" Name="Class" Value="NJsonSchema.JsonSchemaGeneratorSettings" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{02746009-B4EF-3FA8-86D2-46329CDF125F}\InprocServer32" Name="Assembly" Value="NJsonSchema, Version=1.7.5770.30722, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{02746009-B4EF-3FA8-86D2-46329CDF125F}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{02746009-B4EF-3FA8-86D2-46329CDF125F}\InprocServer32" Name="CodeBase" Value="file:///[#filE7D2BAF36BE70670FE414AAABB6765E1]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1CA5755F-33D5-3975-95A1-8871C05DDFDF}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1CA5755F-33D5-3975-95A1-8871C05DDFDF}\InprocServer32\1.7.5770.30722" Name="Class" Value="NJsonSchema.JsonProperty" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1CA5755F-33D5-3975-95A1-8871C05DDFDF}\InprocServer32\1.7.5770.30722" Name="Assembly" Value="NJsonSchema, Version=1.7.5770.30722, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1CA5755F-33D5-3975-95A1-8871C05DDFDF}\InprocServer32\1.7.5770.30722" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1CA5755F-33D5-3975-95A1-8871C05DDFDF}\InprocServer32\1.7.5770.30722" Name="CodeBase" Value="file:///[#filE7D2BAF36BE70670FE414AAABB6765E1]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1CA5755F-33D5-3975-95A1-8871C05DDFDF}\InprocServer32" Name="Class" Value="NJsonSchema.JsonProperty" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1CA5755F-33D5-3975-95A1-8871C05DDFDF}\InprocServer32" Name="Assembly" Value="NJsonSchema, Version=1.7.5770.30722, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1CA5755F-33D5-3975-95A1-8871C05DDFDF}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1CA5755F-33D5-3975-95A1-8871C05DDFDF}\InprocServer32" Name="CodeBase" Value="file:///[#filE7D2BAF36BE70670FE414AAABB6765E1]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{25C74250-B7E9-3E37-B1A7-1EAA34BF58D1}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{25C74250-B7E9-3E37-B1A7-1EAA34BF58D1}\InprocServer32\1.7.5770.30722" Name="Class" Value="NJsonSchema.JsonSchema4" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{25C74250-B7E9-3E37-B1A7-1EAA34BF58D1}\InprocServer32\1.7.5770.30722" Name="Assembly" Value="NJsonSchema, Version=1.7.5770.30722, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{25C74250-B7E9-3E37-B1A7-1EAA34BF58D1}\InprocServer32\1.7.5770.30722" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{25C74250-B7E9-3E37-B1A7-1EAA34BF58D1}\InprocServer32\1.7.5770.30722" Name="CodeBase" Value="file:///[#filE7D2BAF36BE70670FE414AAABB6765E1]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{25C74250-B7E9-3E37-B1A7-1EAA34BF58D1}\InprocServer32" Name="Class" Value="NJsonSchema.JsonSchema4" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{25C74250-B7E9-3E37-B1A7-1EAA34BF58D1}\InprocServer32" Name="Assembly" Value="NJsonSchema, Version=1.7.5770.30722, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{25C74250-B7E9-3E37-B1A7-1EAA34BF58D1}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{25C74250-B7E9-3E37-B1A7-1EAA34BF58D1}\InprocServer32" Name="CodeBase" Value="file:///[#filE7D2BAF36BE70670FE414AAABB6765E1]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E8C2F435-D734-32B8-8733-06F4A9E58974}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E8C2F435-D734-32B8-8733-06F4A9E58974}\InprocServer32\1.7.5770.30722" Name="Class" Value="NJsonSchema.SchemaResolver" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E8C2F435-D734-32B8-8733-06F4A9E58974}\InprocServer32\1.7.5770.30722" Name="Assembly" Value="NJsonSchema, Version=1.7.5770.30722, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E8C2F435-D734-32B8-8733-06F4A9E58974}\InprocServer32\1.7.5770.30722" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E8C2F435-D734-32B8-8733-06F4A9E58974}\InprocServer32\1.7.5770.30722" Name="CodeBase" Value="file:///[#filE7D2BAF36BE70670FE414AAABB6765E1]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E8C2F435-D734-32B8-8733-06F4A9E58974}\InprocServer32" Name="Class" Value="NJsonSchema.SchemaResolver" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E8C2F435-D734-32B8-8733-06F4A9E58974}\InprocServer32" Name="Assembly" Value="NJsonSchema, Version=1.7.5770.30722, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E8C2F435-D734-32B8-8733-06F4A9E58974}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E8C2F435-D734-32B8-8733-06F4A9E58974}\InprocServer32" Name="CodeBase" Value="file:///[#filE7D2BAF36BE70670FE414AAABB6765E1]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{0BFF5F3D-5A5B-38FD-9EAB-C7046843AE3D}\1.7.5770.30722" Name="Class" Value="NJsonSchema.EnumHandling" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{0BFF5F3D-5A5B-38FD-9EAB-C7046843AE3D}\1.7.5770.30722" Name="Assembly" Value="NJsonSchema, Version=1.7.5770.30722, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{0BFF5F3D-5A5B-38FD-9EAB-C7046843AE3D}\1.7.5770.30722" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{0BFF5F3D-5A5B-38FD-9EAB-C7046843AE3D}\1.7.5770.30722" Name="CodeBase" Value="file:///[#filE7D2BAF36BE70670FE414AAABB6765E1]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{3F303CE9-44BB-331B-8C99-1B2AB4388518}\1.7.5770.30722" Name="Class" Value="NJsonSchema.JsonObjectType" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{3F303CE9-44BB-331B-8C99-1B2AB4388518}\1.7.5770.30722" Name="Assembly" Value="NJsonSchema, Version=1.7.5770.30722, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{3F303CE9-44BB-331B-8C99-1B2AB4388518}\1.7.5770.30722" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{3F303CE9-44BB-331B-8C99-1B2AB4388518}\1.7.5770.30722" Name="CodeBase" Value="file:///[#filE7D2BAF36BE70670FE414AAABB6765E1]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{682DA144-A85B-328C-AD2F-EF31022E7321}\1.7.5770.30722" Name="Class" Value="NJsonSchema.Validation.ValidationErrorKind" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{682DA144-A85B-328C-AD2F-EF31022E7321}\1.7.5770.30722" Name="Assembly" Value="NJsonSchema, Version=1.7.5770.30722, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{682DA144-A85B-328C-AD2F-EF31022E7321}\1.7.5770.30722" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{682DA144-A85B-328C-AD2F-EF31022E7321}\1.7.5770.30722" Name="CodeBase" Value="file:///[#filE7D2BAF36BE70670FE414AAABB6765E1]" Type="string" Action="write" />
            </Component>
            <Component Id="cmp32C1339D08859DC7796F4EE23E0819F0" Directory="RootDirectory" Guid="*">
                <File Id="fil72A10A3701F72ECAD8968E45C6295B9D" KeyPath="yes" Source="$(var.SourcePath)\NSwagStudio.vshost.exe" />
            </Component>
            <Component Id="cmp474BA1F5E4041B6B55B1AA38BE12A2E5" Directory="RootDirectory" Guid="*">
                <File Id="filFA7E5A03A21F54B9AD53663AF2F9AB79" KeyPath="yes" Source="$(var.SourcePath)\NSwagStudio.vshost.exe.config" />
            </Component>
            <Component Id="cmp334374A35F014DC08C6313E21E5B8115" Directory="RootDirectory" Guid="*">
                <File Id="fil7F9F68A04E297D87BF9A84D800D82940" KeyPath="yes" Source="$(var.SourcePath)\NSwagStudio.vshost.exe.manifest" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>