<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

    <Package
            Name="NSwagStudio"
            Language="1033"
            Version="!(bind.FileVersion.NSwagExe)"
            Manufacturer="Rico Suter"
            UpgradeCode="571BBE29-70A5-4062-B478-A8BA84A7F90A"
            InstallerVersion="200">

        <MajorUpgrade
                AllowSameVersionUpgrades="yes"
                DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="Installer" Level="1">
            <ComponentGroupRef Id="AppFiles" />
            <ComponentGroupRef Id="AppExe" />
            <ComponentRef Id="ApplicationComponent" />
        </Feature>

        <UI>
            <ui:WixUI Id="WixUI_InstallDir" />
            <UIRef Id="WixUI_ErrorProgressText" />

            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="PrepareDlg" Order="3" />
            <Publish Dialog="PrepareDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="3" />
            <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication"
                     Condition="WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed" />
        </UI>

        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch NSwagStudio" />

        <Property Id="WixShellExecTarget" Value="[#NSwagExe]" />
        <CustomAction Id="LaunchApplication" DllEntry="WixShellExec" Impersonate="yes" BinaryRef="Wix4UtilCA_X86" />

    </Package>

    <Fragment>
        <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
            <Files Include="$(var.SourcePath)\**">
                <Exclude Files="$(var.SourcePath)\NSwagStudio.exe" />
            </Files>
        </ComponentGroup>

        <ComponentGroup Id="AppExe">
            <Component Id="NSwagExeComponent" Directory="INSTALLFOLDER">
                <File Id="NSwagExe" Source="$(var.SourcePath)\NSwagStudio.exe" KeyPath="yes" />

                <Shortcut
                        Id="ApplicationStartMenuShortcut"
                        Icon="ApplicationIcon"
                        Name="NSwagStudio"
                        Description="NSwagStudio"
                        Target="[#NSwagExe]"
                        WorkingDirectory="RootDirectory" />

                <ProgId Id="NSwagFile" Description="NSwag Configuration file">
                    <Extension Id="nswag" ContentType="application/json">
                        <Verb Id="open" Command="Open" TargetFile="NSwagExe" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>

            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>

        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="RootDirectory" Name="NSwagStudio" />
        </DirectoryRef>

        <Icon Id="ApplicationIcon" SourceFile="$(var.SourcePath)\ApplicationIcon.ico" />

        <InstallExecuteSequence>
            <RemoveShortcuts Condition="0" />
        </InstallExecuteSequence>

        <DirectoryRef Id="ApplicationProgramsFolder">

            <Component Id="ApplicationComponent" Guid="24057D56-63A4-4330-A46C-B15A0EFF551F">
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
                <RemoveFolder Id="ManufacturerProgramsFolder" On="uninstall" />

                <RegistryValue
                        Root="HKCU"
                        Key="Software\RicoSuter\NSwagStudio"
                        Name="installed"
                        Type="integer"
                        Value="1"
                        KeyPath="yes" />

                <Environment
                        Id="PATH"
                        Name="PATH"
                        Value="[RootDirectory]"
                        Permanent="no"
                        Part="last"
                        Action="set"
                        System="no" />

                <RemoveFile Id="RemoveShortcut" Name="NSwagStudio" On="uninstall" />

            </Component>

        </DirectoryRef>

        <StandardDirectory Id="ProgramFilesFolder">
            <Directory Id="INSTALLFOLDER" Name="Rico Suter" />
        </StandardDirectory>

        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ApplicationProgramsFolder" Name="Rico Suter" />
        </StandardDirectory>

    </Fragment>
</Wix>