<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NConsole" version="3.3.6170.27019" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="NJsonSchema" version="5.19.6171.28316" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="NJsonSchema.CodeGeneration" version="5.19.6171.28316" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>