<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NJsonSchema" publicKeyToken="c2f9c3bdfae56102" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.13.6288.31182" newVersion="8.13.6288.31182" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NJsonSchema.CodeGeneration" publicKeyToken="c2f9c3bdfae56102" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.6242.19591" newVersion="8.0.6242.19591" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>