<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNetCore.Authorization" version="1.0.2" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="1.0.2" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="1.0.2" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Http" version="1.0.2" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="1.0.2" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Http.Extensions" version="1.0.2" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Http.Features" version="1.0.2" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Mvc.Abstractions" version="1.0.3" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Mvc.ApiExplorer" version="1.0.3" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Mvc.Core" version="1.0.3" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Routing" version="1.0.3" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Routing.Abstractions" version="1.0.3" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="1.0.2" targetFramework="net462" />
  <package id="Microsoft.DotNet.InternalAbstractions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.2" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.2" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyModel" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="1.0.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.2" targetFramework="net462" />
  <package id="Microsoft.Extensions.ObjectPool" version="1.0.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="1.0.2" targetFramework="net462" />
  <package id="Microsoft.Extensions.PlatformAbstractions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.1" targetFramework="net462" />
  <package id="Microsoft.Net.Http.Headers" version="1.0.2" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="System.Buffers" version="4.0.0" targetFramework="net462" />
  <package id="System.Collections" version="4.0.11" targetFramework="net462" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net462" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net462" />
  <package id="System.Diagnostics.Contracts" version="4.0.1" targetFramework="net462" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.0.0" targetFramework="net462" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net462" />
  <package id="System.IO" version="4.1.0" targetFramework="net462" />
  <package id="System.Linq" version="4.1.0" targetFramework="net462" />
  <package id="System.Linq.Expressions" version="4.1.1" targetFramework="net462" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net462" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net462" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net462" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net462" />
  <package id="System.Text.Encoding" version="4.0.11" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="4.0.0" targetFramework="net462" />
  <package id="System.Threading" version="4.0.11" targetFramework="net462" />
</packages>