<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NConsole" version="3.3.6170.27019" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="NJsonSchema" version="6.0.6178.42031" targetFramework="net46" />
  <package id="NJsonSchema.CodeGeneration" version="6.0.6178.42031" targetFramework="net46" />
</packages>