<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.StringTemplate" version="4.0.6.9004" targetFramework="net452" />
  <package id="NConsole" version="0.3.5699.32791" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="NJsonSchema" version="0.2.5707.34168" targetFramework="net452" />
  <package id="NJsonSchema.CodeGeneration" version="0.2.5707.34168" targetFramework="net452" />
</packages>