<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MyToolkit" version="2.5.13.1" targetFramework="net46" />
  <package id="NConsole" version="3.2.6148.42382" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="NJsonSchema" version="5.12.6149.949" targetFramework="net46" />
  <package id="NJsonSchema.CodeGeneration" version="5.12.6149.950" targetFramework="net46" />
</packages>