<#@ template visibility="internal" #>
protected throwException(message: string, status: number, response: string, result?: any): any {
<#if(Model.WrapDtoExceptions){#>
	throw new SwaggerException(message, status, response, result);
<#}else{#>
	if(result !== null && result !== undefined)
		throw result;
	else
		throw new SwaggerException(message, status, response);
<#}#>
}