<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-9999.0.0.0" newVersion="9.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="NJsonSchema" publicKeyToken="c2f9c3bdfae56102" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-4.26.6123.28532" newVersion="4.26.6123.28532"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="MyToolkit" publicKeyToken="3e349a1360994d26" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-2.5.13.0" newVersion="2.5.13.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
