<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.3" targetFramework="net46" />
  <package id="Expression.Interaction" version="3.0.40218.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights" version="2.1.0" targetFramework="net46" />
  <package id="MyToolkit" version="2.5.16" targetFramework="net46" />
  <package id="MyToolkit.Extended" version="2.5.16" targetFramework="net46" />
  <package id="NConsole" version="3.3.6170.27019" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="NJsonSchema" version="6.0.6178.42031" targetFramework="net46" />
  <package id="NJsonSchema.CodeGeneration" version="6.0.6178.42031" targetFramework="net46" />
</packages>