<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.StringTemplate" version="4.0.6.9004" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights" version="1.2.3" targetFramework="net45" />
  <package id="MyToolkit" version="2.5.8.0" targetFramework="net45" />
  <package id="MyToolkit.Extended" version="2.5.8.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="NJsonSchema" version="1.16.5820.27108" targetFramework="net45" />
  <package id="NJsonSchema.CodeGeneration" version="1.16.5820.27109" targetFramework="net45" />
</packages>