<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.StringTemplate" version="4.0.6.9004" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NJsonSchema" version="1.5.5750.33915" targetFramework="net45" />
  <package id="NJsonSchema.CodeGeneration" version="1.5.5750.33915" targetFramework="net45" />
</packages>