<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="NJsonSchema" version="8.16.6295.13527" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="NJsonSchema.CodeGeneration" version="8.16.6295.13544" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>