<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NJsonSchema" version="8.16.6295.13527" targetFramework="net45" />
  <package id="NJsonSchema.CodeGeneration" version="8.16.6295.13544" targetFramework="net45" />
  <package id="NJsonSchema.CodeGeneration.CSharp" version="8.16.6295.13544" targetFramework="net45" />
  <package id="NJsonSchema.CodeGeneration.TypeScript" version="8.16.6295.13544" targetFramework="net45" />
  <package id="Swashbuckle.Core" version="5.5.3" targetFramework="net45" />
</packages>