<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="NJsonSchema" version="2.30.5998.28512" targetFramework="net45" />
  <package id="NJsonSchema.CodeGeneration" version="2.30.5998.28513" targetFramework="net45" />
</packages>