<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.StringTemplate" version="4.0.6.9004" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="NJsonSchema" version="2.7.5954.13235" targetFramework="net45" />
  <package id="NJsonSchema.CodeGeneration" version="2.7.5954.13236" targetFramework="net45" />
</packages>